button.beans-button{
	color: #3498DB;
	background-color: #FFF;
	border: 1px solid #3498DB;
	border-radius: 5px;
	display: inline-block;
	height: 34px;
	cursor: pointer;
	margin: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: none;
	padding: 0 5px;
}
button.beans-button:hover{
	background-repeat: no-repeat;
	color: #3498DB;
    background-color: #EEE;
}
button.beans-button.beans-connect{
	background-repeat: no-repeat;
	background-position: 3px 50%;
	background-size: auto 80%;
	padding-left: 31px;
}
.beans-unit{
    color: #3498DB;
    font-style: italic;
}
.beans-div-cart-page{
    width: 100%; 
    display: block; 
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.beans-div-cart-page > table{
    width: 100%; 
    border-collapse: collapse; 
    border-spacing: 0px;
    border: none;
    margin: 0;
}
.beans-div-cart-page table td{
    vertical-align: middle;
    border: none;
}
.beans-div-account-page{
    width: 100%; 
    display: block; 
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.beans-block-product-page{
    width: 100%; 
    display: block; 
    text-align: left;
    margin: 15px 0;
}
.woocommerce ul.products li.product .price.beans-price, 
.woocommerce-page ul.products li.product .price.beans-price
{
    margin: 5px 0;
    font-size: 12px;
}
a.beans-info, a.beans-info:hover{
    text-decoration: none !important;
    color: inherit !important;
}
span.beans-info-tag{
	font-weight: bold;
	color: #ffffff;
	background-color: #CCCCCC;
	display: inline-block;
	line-height:normal;
	text-align: center;
	text-decoration:none;
	border-radius: 1em;
    font-style: italic 1em "Times New Roman", serif;
	width: 1.15em;
	padding: 0.1em;
	cursor: pointer;
	margin: 0 10px;
	position: relative;
	overflow: visible;
	outline: none;
}
span.beans-info-tag:hover{
	background-color: #B7B7B7;
}