button.beans-button, input.beans-button[type="submit"]{
    display: inline-block;
	color: #3498DB;
	background: none no-repeat 3px 50% / auto 80% #FFF;;
	border: 1px solid #3498DB;
	border-radius: 5px;
	height: 34px;
	cursor: pointer;
	margin: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: none;
	padding: 0 5px;
    min-width: 100px;
    font-weight: bold;
    box-shadow: none;
}
button.beans-button:hover, input.beans-button:hover[type="submit"]{
	background: #efefef no-repeat;
	color: #3498DB;
}
.beans-unit{
    color: #3498DB;
    font-style: italic;
}
.beans-div-cart-page{
    display: block;
    width: 100%;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 20px auto;
    text-align: right;
}
.beans-div-cart-page .beans-cart-page-contain{
    display: table;
    width: 100%;
}
.beans-div-cart-page .beans-info-div{
    display: table-cell;
    text-align: left;
    padding: 10px;
}
.beans-div-cart-page .beans-info-contain{
    display: block;
    max-width: 500px;
}
.beans-div-cart-page .beans-action-div{
    display: table-cell;
    text-align: right;
    min-width: 100px;
    max-width: 200px;
    padding: 10px;
}
.beans-div-account-page{
    width: 100%; 
    display: block; 
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.beans-block-product-page{
    width: 100%; 
    display: block; 
    text-align: left;
    margin: 15px 0;
}
.woocommerce ul.products li.product .price.beans-price, 
.woocommerce-page ul.products li.product .price.beans-price {
    margin: 5px 0;
    font-size: 12px;
}
a.beans-info, a.beans-info:hover{
    text-decoration: none !important;
    color: inherit !important;
}
a.beans-info .amount{
    float: none;
}
span.beans-info-tag{
	font-weight: bold;
	color: #ffffff;
	background-color: #CCCCCC;
	display: inline-block;
	line-height:normal;
	text-align: center;
	text-decoration:none;
	border-radius: 1em;
    font-size: 1em;
    font-family: "Times New Roman", serif;
    font-style: italic;
	width: 1.15em;
	padding: 0.1em;
	cursor: pointer;
	margin: 0 10px;
	position: relative;
	overflow: visible;
	outline: none;
}
span.beans-info-tag:hover{
	background-color: #B7B7B7;
}

@media (max-width: 490px) {
    .beans-div-cart-page .beans-info-div, .beans-div-cart-page .beans-action-div{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .beans-div-cart-page .beans-action-div .button{
        width: 100%;
    }
}