button.beans-button{
	color: #3498DB;
	background-color: #FFF;
	border: 1px solid #3498DB;
	border-radius: 5px;
	display: inline-block;
	height: 34px;
	cursor: pointer;
	margin: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: none;
	padding: 0 5px;
}
button.beans-button:hover{
	background-repeat: no-repeat;
	color: #3498DB;
    background-color: #EEE;
}
button.beans-button.beans-connect{
	background-repeat: no-repeat;
	background-position: 3px 50%;
	background-size: auto 80%;
	padding-left: 31px;
}
.beans-unit{
    color: #3498DB;
    font-style: italic;
}
.beans-div-cart-page{
    width: 100%; 
    display: block; 
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 0;
}
.beans-div-cart-page > table{
    width: 100%; 
    border-collapse: collapse; 
    border-spacing: 0px;
    border: none;
    margin: 0;
}
.beans-div-cart-page table td{
    vertical-align: middle;
    border: none;
}
.beans-block-product-page{
    width: 100%; 
    display: block; 
    text-align: left;
    margin: 15px 0;
}
.woocommerce ul.products li.product .price.beans-price, 
.woocommerce-page ul.products li.product .price.beans-price
{
    margin: 5px 0;
    font-size: 10px;
}
.beans-modal-container{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  display: none;
  overflow-y: auto;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.59);
  text-align: center;
}
.beans-modal-table{
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.beans-modal-table-cell{
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  height: 100%;
  width: 100%;
}
.beans-modal{
  background-color:#fff;
  color:#000;
  margin-left:auto;
  margin-right:auto;
  min-width:350px;
  min-height:100px;
  border-radius:10px;
}

a.beans-info-tag, .beans-help-tag {
	font-weight: bold;
	color: #ffffff  ;
	background-color: #CCCCCC  ;
	display: inline-block;
	line-height:normal;
	text-align: center;
	text-decoration:none;
	border-radius: 1em;
	font-size: 1em;
	width: 1.15em;
	padding: 0.1em;
	cursor: pointer;
	margin: 0 10px;
	position: relative;
	overflow: visible;
	outline: none;
}

a.beans-info-tag:hover, .beans-help-tag:hover{
	background-color: #B7B7B7  ;
}

a.beans-info-tag {
	font-family: "Times New Roman", serif;
	font-style: italic;
}